@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8">
    <title>@(string.IsNullOrEmpty(ViewBag.Title) ? AppHelper.ProjectName : ViewBag.Title)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/font-awesome/4.2.0/css/font-awesome.min.css" />
    <!-- ace styles -->
    <link rel="stylesheet" href="/assets/css/ace.min.css" />

    <link rel="stylesheet" href="/assets/css/ace-rtl.min.css" />
    @Scripts.Render("~/bundles/backend")
</head>
<body class="login-layout light-login">
    <div class="main-container">
        <div class="main-content">
            <div class="row" style="margin-top: 2%;">
                <div class="col-sm-2 center">
                    <img src="~/images/logo.png" style="max-height: 72px; max-width: 72px;" />
                </div>
                <div class="col-sm-8">
                    <div class="login-container">
                        <div class="center">
                            <img src="~/images/ArgLogo.png" />
                        </div>
                        <div class="space-6"></div>

                        <div class="position-relative">
                            <div id="login-box" class="login-box visible widget-box no-border">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <h4 class="header lighter bigger" style="font-weight: 600;">
                                            Change Password
                                        </h4>
                                        <div class="space-6"></div>
                                        <form id="main-form" method="post">
                                            <fieldset>                                                
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="password" class="form-control" placeholder="Old Password" name="oldPassword" id="oldPassword">
                                                        <i class="ace-icon fa fa-lock"></i>
                                                    </span>
                                                </label>
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="password" class="form-control" placeholder="New Password" name="newPassword" id="newPassword">
                                                        <i class="ace-icon fa fa-lock"></i>
                                                    </span>
                                                </label>
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="password" class="form-control" placeholder="Comfirm Password" name="newPasswordC" id="newPasswordC">
                                                        <i class="ace-icon fa fa-lock"></i>
                                                    </span>
                                                </label>                                               
                                                <div class="space"></div>
                                                <div class="clearfix">
                                                    <button type="button" id="btn_Confirm" class="width-100 pull-right btn btn-sm btn-primary">
                                                        <i class="ace-icon fa fa-key"></i>
                                                        <span class="bigger-110">Comfirm Change</span>
                                                    </button>
                                                    @Html.AntiForgeryToken()
                                                </div>
                                                <div class="space-4"></div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            $('#btn_Confirm').on('click', function () {
                var oldPassword = $('#oldPassword').val();
                var newPassword = $('#newPassword').val();
                var newPasswordC = $('#newPasswordC').val();
                if (oldPassword == '' || newPassword==''||newPasswordC=='') {
                    alert('The password field is necessary');
                    location.reload();
                }
                if (oldPassword == newPassword) {
                    alert('The use another password');
                    location.reload();
                }
                if (newPassword != newPasswordC) {
                    alert('The password is invalid');
                    location.reload();
                }
                var chkPwdStength = newPassword.match(/((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,100})/);
                if (chkPwdStength==null) {
                    alert('The password strength is not strong enough, please try another set');
                    location.reload();
                }
                var formData = new FormData();
                formData.append('oldPassword', oldPassword);
                formData.append('newPassword', newPassword);
                $.ajax
                   ({
                       type: "POST",
                       url: '/Authorize/ChangePassword',
                       contentType: 'application/json; charset=utf-8',
                       dataType: "json",
                       data: formData,
                       processData: false,
                       contentType: false,
                       timeout: 10000,
                       error: function (xhr, ajaxOptions, thrownError) {
                           console.log(xhr.responseText);
                           alert('System is busy, please try again later');
                           history.go(0);
                       },
                       success: function (data) {
                           if (!data.Success) {
                               alert(data.Message);
                               location.reload();
                           } else {
                               alert('Password Change Success !!!!');
                               window.close();
                           }

                       }
                   });
            })
        });
    </script>
</body>
</html>