@model List<Store>
@{
    Layout = null;
}
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>隱私權政策</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="stylesheet" href="/assets/font-awesome/4.2.0/css/font-awesome.min.css" />

    <!-- page specific plugin styles -->
    <link rel="stylesheet" href="/assets/css/jquery-ui.custom.min.css" />
    <link rel="stylesheet" href="/assets/css/fullcalendar.min.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />
    <link rel="stylesheet" href="/assets/css/bootstrap-multiselect.min.css" />

    <link rel="stylesheet" href="/assets/css/magnific-popup.css" />


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

    <script src="~/assets/js/ace.min.js"></script>
    <script src="~/assets/js/ace-elements.min.js"></script>
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>


</head>
<body class="login-layout light-login">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <div class="eventSign-container">
                    <div class="center">
                        <h1>
                            <span class="green" id="id-text2">隱私權政策</span>
                        </h1>
                        為保護您的隱私權，請您詳細閱讀以下有關寵物-寄生蟲專家之「隱私權政策」，請注意，本《隱私權政策》會不定時變更。我們不會在未經您同意的情況下，削減本《隱私權政策》賦予您的權利，並且會隨時在 寵物-寄生蟲專家 登載最新版本的《隱私權政策》，提供您隨時查閱。

                        一、個人資料蒐集、處理、利用及修改

                        1.個人資料之蒐集與目的
                        在您加入寵物-寄生蟲專家會員或下載、使用寵物-寄生蟲專家相關服務時，軟體系統將依您所要求的服務內容，擷取提供該等服務所必須蒐集之可供辨識個人之資料，詳細擷取資料在您下載寵物-寄生蟲專家時業已取得您的同意。倘若您不同意提供上述個人資料，請勿繼續使用寵物-寄生蟲專家服務。
                        2.個人資料之處理及利用
                        當系統擷取您的個人資料時起至您要求刪除時止，您的個人資料會被我們蒐集、並安全地集體儲存在寵物-寄生蟲專家資料庫系統中，但不會供其他用途

                        3.個人資料之刪除
                        您可隨時要求刪除您的帳號及內含的個人資料，在您要求刪除帳號及個人資訊後，依系統運作流程經過一段時間才會從伺服器中完全刪除，而我們的備份系統為避免利用寵物-寄生蟲專家進行詐騙或違法行為將保留其檔案備份。

                        5.您得以書面主張下列權利
                        (1) 查詢或請求閱覽。
                        (2) 請求製給複製本。
                        (3) 請求補充或更正。
                        (4) 請求停止蒐集、處理或利用。
                        (5) 請求刪除。
                        二、個人資訊的揭露

                        除了下述情況，或依據相關法律或政府機構之命令外，在未獲得您的同意之前，寵物-寄生蟲專家不會向任何第三人販賣、出租、交易或轉讓您所提供的個人資料、流量資料或通訊內容；

                        1.任何您自願在個人資料中公開，在聊天室、討論區中透露、張貼的資訊或評論，將有可能被他人轉貼或使用。
                        2.寵物-寄生蟲專家 依法律規定或為主張權利或對任何指控提出抗辯、為保護 寵物-寄生蟲專家 的利益、打擊詐欺、執行我們的政策、保護第三人的合法權利、財產或為安全需要而揭露您的個人資料。

                        三、應用程式

                        若您使用 寵物-寄生蟲專家軟體系統之同時也使用其他附加功能、外掛程式或第三方之應用程式（以下簡稱「應用程式」），該等應用程式的提供者可能會取得某些您的個人資料。 寵物-寄生蟲專家 不會也無法控制該等應用程式提供者如何使用您的個人資訊。因此，在安裝之前，請務必檢視該等應用程式之隱私權政策或使用條款。

                        四、聯絡與溝通

                        1.寵物-寄生蟲專家 有時會要求您提供有關使用經驗的資訊，這些資訊將用於衡量與改善品質。您在任何時候都沒有提供上述資料的義務。

                        五、聯繫我們

                        如果您有任何關於隱私權政策的問題，請隨時利用寵物-寄生蟲專家軟體系統之意見回饋方式與我們聯絡，將您的寶貴意見提供給我們。
                    </div>
                </div>
                <!-- PAGE CONTENT ENDS -->
            </div>

        </div><!-- /.row -->
    </div>
    <!-- ace scripts -->

    <script src="/assets/js/ace-elements.min.js"></script>
    <script src="/assets/js/ace.min.js"></script>
</body>
</html>

